<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Are you a human - decoder's</title>
  <!--Favicon-->
  <link rel="shortcut icon" href="img/favicon.png" type="image/png" />
  <!--Boxicon-->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <!--Styles-->
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="container">
    <div class="captcha">
      <span id="captcha">There was nothing!</span>
      <form class="type" action="/captcha" method="post" >
        <div class="cl">
          <input type="text" name="c" id="c" placeholder="Type captcha" autocomplete="off" >
          <button class="bx bxs-send" type="submit"></button>
        </div>
        <input type="text" name="o" id="inc" value="500">
    </form>
    </div>
    <div class="advertising">
      <!--<iframe class="advertisement" src="https://ads.sajadpp.repl.co/" frameborder="0"></iframe>-->
      <div class="advertisement">
        <!-- BULLETPROFIT - Referral Banner Code -->
<a href="//account.bulletprofit.com/?rid=28077"><img title="Click Here To Join Bulletprofit" alt="Click Here To Join Bulletprofit" src="https://account.bulletprofit.com/index.php?page=dispatch/referral/5/320x100" /></a>
<!-- BULLETPROFIT - Referral Banner Code -->
      </div>
    </div>
  </div>
  <!-- Project -->
  <script src="js/script.js"></script>
</body>
</html>
